* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.form {
  padding: 20px 30px;
  background-color: white;
  border: 1px solid #41414150;
  border-radius: 6px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
}
.form h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 18px;
  line-height: 2;
  border-bottom: 1px solid #41414150;
}
.form input{
    width: 400px;
    font-size: 18px;
    padding: 4px 10px;
    border: 3px solid #41414150;
    outline: none;
    border-radius: 4px;
    letter-spacing: 0.7px;
    border-radius: 4px;
    color : #272727;
}
.form input:focus{
    border: 3px solid #1257dc;
}
.form textarea {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    font-size: 18px;
    padding: 4px 10px;
    border: 3px solid #41414150;
    outline: none;
    border-radius: 4px;
    letter-spacing: 0.7px;
    border-radius: 4px;
    margin-bottom: 10px;
    color : #272727;
}
.form textarea:focus {
    border: 3px solid #1257dc;
}
.form .gonder-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #1257dc;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.form .gonder-btn:hover {
    background-color: #001749;
}